.root {
  height: 40px;
  width: 100%;
  border-radius: 60px;
  padding: 12px 12px 12px 38px;
  font-size: 16px;
  color: #444444;
  line-height: 16.8px;
  border: 1px solid #3c3c3c;
  background-color: transparent;
}

.iconSearch {
  @apply absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
}
