.root {
  border-radius: 100px !important;
  margin-inline-end: unset !important;
}

.lg {
  font-size: 14px !important;
  line-height: 26px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
